

.banner_image{
  width: 100% !important;
  height: 100% !important;
}
/* poner animacion de fade*/


.main-container{
  display: flex;
  justify-content: space-around;
  
}
.left_side {
  display: flex;
  flex-direction: column;
  height: 550px;
  position: -webkit-sticky;
  position: sticky;
  justify-content: center;
  top: 4rem;
  margin:5px 5px 5px 5px;/*necesito un fixeed*/
}
.sub_left {
  display: flex;
  justify-content: center;
  margin:50px 0px 0px 0px;
}

.descripcion {
  display:flex;
  flex-direction: column;
  
}
.Unidades {
  margin: 15px 0px 10px 0px;
  background-color: rgb(25, 28, 50);
  height: 50px;
  display: flex;
  align-items:center;
}
.Unidades h2 {
  margin-left: 10px;
  color: #fff;
}
.rigth-container {
  margin:97px 5px 5px 5px;
  display: flex;
  flex-direction: column;
}
/*changing images*/
img.imga {
  height: 400px;
  width:300px;
  z-index: -1;
}
.slider {
  box-sizing: border-box;
  box-shadow: 5px 5px 10px grey;
  margin:20px;
}
.slider{
  width:300px;
  height: 400px;
  /*position: -webkit-sticky;
  position: sticky;*/
  top: 0;
  /*animation of slider images*/
}
/*end changing images*/
.img_unidades {
  width:300px;
  height: 300px;
  border-right : rgb(25, 28, 50) 6px solid;
  
}
.cosa {
  display: flex;
  justify-content: flex-end;
}
.auto {
  display: flex;
  margin: 5px 5px 5px 5px;
  width: 800px;
  border: rgb(25, 28, 50) 5px solid;
  border-radius: 5px;
}
.pe {
  display: flex;
  flex-direction: column;
}
p {
  margin: 10px 10px 10px 10px;
}
.img_clientes {
  width: 50%;
  height: 50%;
}
.left_side h2 {
  font-size: 30px;
  padding: 10px;
  background-color:rgb(25, 28, 50);
  color: #fff;
}
@media screen and (max-width: 991px) {
  .rigth-container {
    width: 750px;
  }
  .auto {
    width: 590px;
    height: 250px;
  }
  img.imga {
    width: 240px ;
    height: 380px ;
  }
  .slider {
    width: 240px;
    height: 380px;
    margin-left: 30px;
  }
  .img_unidades {
    width: 290px;
    height: 240px;
  }

  .auto p {
    font-size: 20px;
    width: 270px;
  }
  .sub_left {
    margin-top: 70px;
  }
}
@media screen and (max-width: 767px) {
  .rigth-container {
    width: 450px;
  }
  .auto {
    width: 390px;
    height: 200px;
  }
  .img_unidades {
    width: 190px;
    height: 190px;
  }
  .auto p {
    font-size: 13px;
    width: 190px;
  }
  .sub_left {
    margin-top: 70px;
  }
}
@media screen and (max-width: 479px) {
  .rigth-container {
    width: 50%;
    margin-top:70px ;
  }
  .img_unidades {
    width: 50%;
    height: 130px;
  }
  .auto {
    width: 230px;
    height: 140px;
  }
  .auto p {
    font-size:10px ;
  }
  .left_side{
    width: 50%;
    height: 305px;
  }

  img.imga {
    width: 180px ;
    height: 230px ;
  }
  .slider {
    width: 180px;
    height: 230px;
    margin-left: 30px;
  }
  h2 {
    font-size: small;
  }
  .sub_left h2 {
    font-size:18px;
  }
}
